@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;
<div id="flyout-cart" class="flyout-cart content">
    <input type="hidden" id="total" value="@Model.TotalProducts" />
    <input type="hidden" id="subtotal" value="@Model.SubTotal" />
    <div class="content-scroll">
        <span class="latest-added">
            @if (Model.TotalProducts == 0)
            {
                @T("ShoppingCart.Mini.NoItems")
            }
            else
            {
                @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, string.Format("<a href=\"{0}\">{1}</a>", Url.RouteUrl("ShoppingCart"), string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts))))
            }
        </span>
        <br />
        <br />
        @if (Model.TotalProducts > 0)
        {
            <div class="mini-cart-info">
                <table class="cart">
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            var item = Model.Items[i];
                            <tr>
                                <td class="image">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </a>
                                </td>
                                <td class="name">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    <div>
                                        <small>
                                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                @Html.Raw(item.AttributeInfo)
                                            }
                                        </small>
                                    </div>
                                    <span class="quantity">@T("ShoppingCart.Mini.Quantity"): @item.Quantity</span>
                                    <br />
                                    <span class="total">@T("ShoppingCart.Mini.UnitPrice"): @item.UnitPrice</span>
                                </td>
                         
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div>
                <table class="total">
                    <tbody>
                        <tr>
                            <td align="right" class="total-right"><b>@T("ShoppingCart.Totals.SubTotal"):</b></td>
                            <td align="left" class="total-left"><span class="t-price">@Model.SubTotal</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="checkout">
                @if (Model.DisplayShoppingCartButton)
                {
                    <a class="button" href="@(Url.RouteUrl("ShoppingCart"))"><span>@T("ShoppingCart.Mini.ViewCart")</span></a>
                    @*<input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="button-1 cart-button" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />*@
                }
                @if (Model.DisplayCheckoutButton)
                {
                    var checkoutUrl = "";
                    if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                    {
                        checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                    }
                    else
                    {
                        checkoutUrl = Url.RouteUrl("Checkout");
                    }
                    <input type="button" value="@T("Checkout.Button")" class="button-1 checkout-button" onclick="setLocation('@checkoutUrl')" />
                    <a class="button" href="@checkoutUrl"><span>@T("Checkout.Button")</span></a>
                }
            </div>
        }
    </div>
</div>
