@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<h1>@T("Account.PasswordRecovery")</h1>
@if (!String.IsNullOrEmpty(Model.Result))
{
    <div class="result">
        @Model.Result
    </div>
}
<div class="box-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", id = "forgotten" }))
    {
        <h2>@T("Account.PasswordRecovery.Tooltip")</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(model => model.Email, new { }, ":")</td>
                        <td>
                            @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Email)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <a onclick="$('#forgotten').submit();" name="send-email" class="button"><span>@T("Account.PasswordRecovery.RecoverButton")</span></a>
        </div>
    }
</div>