@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div id="body">
    @Html.Partial("_SwipeMenu")
    <div id="page">
        <div id="shadow">
            <div class="shadow"></div>
            <header id="header">
                @Html.Action("AdminHeaderLinks", "Common")
                @Html.Partial("Header")
                <script type="text/javascript">
                    AjaxCart.init(false, '.toprow .cart-qty', '.toprow .wishlist-qty', '#flyout-cart');
                </script>
            </header>
            <section>
                @Html.Widget("content_before")

                @*@if (IsSectionDefined("Breadcrumb"))
                {
                    @RenderSection("Breadcrumb")
                }*@

                @RenderBody()


                @Html.Widget("content_after")
            </section>
            @Html.Action("Footer", "Common")
        </div>
    </div>
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")