@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
    
    //authen
    var customerSettings = EngineContext.Current.Resolve<CustomerSettings>();
    var customer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer; ;
    var isAuthenticated = customer.IsRegistered();
    var customerEmailUsername = customer.IsRegistered() ? (customerSettings.UsernamesEnabled ? customer.Username : customer.Email) : "";
}

    @Html.Widget("header")
<div class="toprow">
    
    @Html.Action("CurrencySelector", "Common")
    
    @Html.Action("HeaderLinks", "Common")

    <div class="header-selectors-wrapper">

        @Html.Action("TaxTypeSelector", "Common")

        @Html.Action("LanguageSelector", "Common")

        @Html.Widget("header_selectors")
    </div>
    @*<div class="header-links-wrapper">
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div>*@
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="toprow-1">
                <a class="swipe-control" href="#"><i class="icon-reorder"></i></a>
                <div class="top-search">
                    <i class="icon-search"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="logo-block">
    <div>
        <div id="logo">
            <a href="@Url.RouteUrl("HomePage")">
                <img src="@Url.Content(logoPath)" title="@storeName" alt="@storeName" />
            </a>
        </div>
        <div class="cart-position">
            <div class="cart-inner">
                <div id="cart">
                    <div class="heading">
                        <span class="link_a">
                            <i class="icon-shopping-cart"></i>
                            <b>Cart:<br></b>
                            <span class="sc-button"></span>
                            <span id="cart-total2">0</span>
                            <span id="cart-total">0 item(s)</span>
                            <i class="icon-angle-down"></i>
                            <span class="clear"></span>
                        </span>
                    </div>
                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                </div>
            </div>
        </div>
        <div class="logged">
            @if (isAuthenticated)
            {
                <li class="login_h"><a href="@Url.RouteUrl("CustomerInfo")"><i class="icon-file-alt"></i>@customerEmailUsername</a></li>
                <li><a href="@Url.RouteUrl("Logout")"><i class="icon-lock"></i>@T("Account.Logout")</a></li>
            }
            else
            {
                <li class="login_h"><a href="@Url.RouteUrl("Login")"><i class="icon-lock"></i>@T("Account.Login")</a></li>
                <li><a href="@Url.RouteUrl("Register")"><i class="icon-file-alt"></i>@T("Account.Register")</a></li>
            }
        </div>
        <div id="search">
            <div class="inner">
                @Html.Action("SearchBox", "Catalog")
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="menu-gadget">
        <div id="menu-icon">Categories</div>
        @Html.Action("TopMenu", "Catalog",new {type="mobile"})
    </div>
</div>
<div id="menu">
    @Html.Action("TopMenu", "Catalog")
    <div class="clear"></div>
</div>
