@model ManufacturerModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var manufacturerUrl = Url.RouteUrl("Manufacturer", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(manufacturerUrl);
    }
}
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;

<h1>@Model.Name</h1>
@Html.Widget("manufacturerdetails_top", Model.Id)
@*description*@
@if (!String.IsNullOrWhiteSpace(Model.Description))
{
    <div class="manufacturer-description">
        @Html.Raw(Model.Description)
    </div>
}
<div class="product-filter">
    @Html.Widget("categorydetails_after_featured_products", Model.Id)
    @if (Model.Products.Count > 0)
    {
        @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
    }
    @Html.Widget("categorydetails_before_filters", Model.Id)


</div>
@if (Model.Products.Count > 0)
{
    var i = 0;
    <div class="product-grid">
        <ul class="row">
            @foreach (var product in Model.Products)
            {
                <li class="span3 @(i % 3 == 0 ? "first-in-line" : "") @(i % 3 == 2 ? "last-in-line" : "")">
                    @Html.Partial("_ProductBoxGridLine", product)
                </li>
                i++;
            }
        </ul>
    </div>
}
@{
    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
}

@if (!pager.IsEmpty())
{
    <div class="pagination">
        @pager
    </div>
}
