@model ProductDetailsModel
@using iTextSharp.text.pdf.qrcode
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
    var webHelper = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWebHelper>();
    
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
}
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="product-info">
    <div class="row">
        <div class="span3">
            <h1 class="view">@Model.Name</h1>
            @Html.Widget("productdetails_before_pictures", Model.Id)
            <!--product pictures-->
            @Html.Partial("_ProductDetailsPictures", Model)
            @Html.Widget("productdetails_after_pictures", Model.Id)
        </div>
        <div class="span6">
            <h1 itemprop="name">
                @Model.Name
            </h1>
            <div class="description">
                @if (Model.ProductManufacturers.Count > 0 || Model.ShowSku || !String.IsNullOrWhiteSpace(Model.StockAvailability))
                {

                    <div class="product-section">
                        @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                        @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                        @Html.Partial("_Availability", Model)
                    </div>
                }
                <div class="price">
                    @{
                        var dataDictPrice = new ViewDataDictionary();
                        dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                        @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                        @Html.Partial("_ProductTierPrices", Model.TierPrices)
                    }
                </div>
                <div class="cart">
                    <div class="prod-row">
                        <div class="cart-top">
                            @{

                                var dataDictAddToCart = new ViewDataDictionary();
                                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                            }
                            @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)

                            <div class="extra-button">
                                @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                                @{
                                    var dataDictAddToWishlist = new ViewDataDictionary();
                                    dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                    @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                }
                                @Html.Partial("_CompareProductsButton", Model)
                                @*@Html.Partial("_ProductEmailAFriendButton", Model)*@
                                @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
              
                <!--attributes-->
                <div class="attribute-data">
                @{
                    var dataDictAttributes = new ViewDataDictionary();
                    dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                    @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                }
                </div>
                <!--gift card-->
                    @{
                        var dataDictGiftCard = new ViewDataDictionary();
                        dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                        @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                    }
                    <div class="clear"></div>
                    <div class="share">
                        @Html.Partial("_ShareButton", Model)

                    </div>
                    <div class="clear"></div>
                    @Html.Widget("productdetails_overview_bottom", Model.Id)
                </div>

        </div>
  
    
        @*@Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })*@
    </div>
    <div class="tabs">
        <div class="tab-heading">
            @T("Products.FullDescription")
        </div>
        <div class="tab-content">
            @Html.Raw(Model.FullDescription)
        </div>
    </div>
    <div class="tabs" id="tab-review">
        <div class="tab-heading">
            @T("Reviews")
        </div>
        <div class="tab-content">
            <div class="fb-comments" data-href="@webHelper.GetThisPageUrl(true)" data-numposts="5" data-width="100%"></div>
        </div>
    </div>  

    
</div>
@Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
@Html.Widget("productdetails_bottom", Model.Id)
