@model Nop.Plugin.Widgets.Camera.Models.PublicInfoModel
@{
    Layout = "";

    Html.AddScriptParts("~/Plugins/Widgets.Camera/Scripts/camera.js");
    Html.AddCssFileParts("~/Plugins/Widgets.Camera/Content/camera/camera.css");
}
@using Nop.Web.Framework.UI

@helper RenderSliderLine(string pictureUrl, string text, string link, string dataTransition = "")
{
    if (!string.IsNullOrEmpty(pictureUrl))
    {
        <div data-thumb="@pictureUrl" @(string.IsNullOrWhiteSpace(link) ? "" : "data-link='" + link + "'") data-src="@pictureUrl">
            <div class="camera_caption fadeIn">
                @Html.Raw(@text)
            </div>
        </div>
    }
}
<div class="header-modules">
    
    <div class="fluid_container">
        <div id="camera_wrap_1">
            @RenderSliderLine(Model.Picture1Url, Model.Text1, Model.Link1)
            @RenderSliderLine(Model.Picture2Url, Model.Text2, Model.Link2)
            @RenderSliderLine(Model.Picture3Url, Model.Text3, Model.Link3)
            @RenderSliderLine(Model.Picture4Url, Model.Text4, Model.Link4)
            @RenderSliderLine(Model.Picture5Url, Model.Text5, Model.Link5)
        </div>
    </div>
    <script>
        $('#camera_wrap_1').camera({
            navigation: true,
            playPause: false,
            thumbnails: false,
            navigationHover: false,
            barPosition: 'top',
            loader: false,
            time: 3000,
            transPeriod: 800,
            alignment: 'center',
            autoAdvance: true,
            mobileAutoAdvance: true,
            barDirection: 'leftToRight',
            barPosition: 'bottom',
            easing: 'easeInOutExpo',
            fx: 'simpleFade',
            height: '32.68%',
            minHeight: '242px',
            hover: true,
            pagination: true,
            loaderColor: '#8abfa1',
            loaderBgColor: 'transparent',
            loaderOpacity: 1,
            loaderPadding: 0,
            loaderStroke: 3
        });
    </script>
</div>

